#
# SPDX-FileCopyrightText: Copyright (c) 2019-2025 Confluent Inc.
# SPDX-License-Identifier: Apache-2.0
#

services:
    controller-1:
        image: confluentinc/cp-server:7.8.1
        hostname: controller-1
        container_name: controller-1
        volumes:
            - data-controller-1:/var/lib/kafka/data
        healthcheck:
            test: kafka-metadata-quorum --bootstrap-controller controller-1:19093 describe --status >/dev/null 2>&1
            interval: 15s
            retries: 3
        environment:
            KAFKA_NODE_ID: 9991
            CLUSTER_ID: Nk018hRAQFytWskYqtQduw
            KAFKA_PROCESS_ROLES: controller
            KAFKA_LISTENERS: CONTROLLER://controller-1:19093
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT
            KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_CONTROLLER_QUORUM_VOTERS: 9991@controller-1:19093,9992@controller-2:29093,9993@controller-3:39093
            KAFKA_JMX_PORT: 9999
            KAFKA_JMX_HOSTNAME: controller-1
            KAFKA_BROKER_RACK: rack-0
            KAFKA_DEFAULT_REPLICATION_FACTOR: 3
            KAFKA_OFFSET_REPLICATION_FACTOR: 3
            KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
            KAFKA_CONFLUENT_LICENSE_TOPIC_REPLICATION_FACTOR: 3
            KAFKA_CONFLUENT_METADATA_TOPIC_REPLICATION_FACTOR: 3
            KAFKA_CONFLUENT_BALANCER_TOPIC_REPLICATION_FACTOR: 3
            KAFKA_METRIC_REPORTERS: io.confluent.metrics.reporter.ConfluentMetricsReporter
            KAFKA_CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
            KAFKA_CONFLUENT_BALANCER_ENABLE: false
            # KAFKA_GROUP_COORDINATOR_REBALANCE_PROTOCOLS: classic,consumer
            # KAFKA_TRANSACTION_PARTITION_VERIFICATION_ENABLE: false

        cap_add:
            - NET_ADMIN
        ports:
            - "19093:19093"

    controller-2:
        image: confluentinc/cp-server:7.8.1
        hostname: controller-2
        container_name: controller-2
        volumes:
            - data-controller-2:/var/lib/kafka/data
        healthcheck:
            test: kafka-metadata-quorum --bootstrap-controller controller-1:19093 describe --status >/dev/null 2>&1
            interval: 15s
            retries: 3
        environment:
            KAFKA_NODE_ID: 9992
            CLUSTER_ID: Nk018hRAQFytWskYqtQduw
            KAFKA_PROCESS_ROLES: controller
            KAFKA_LISTENERS: CONTROLLER://controller-2:29093
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT
            KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_CONTROLLER_QUORUM_VOTERS: 9991@controller-1:19093,9992@controller-2:29093,9993@controller-3:39093
            KAFKA_JMX_PORT: 9999
            KAFKA_JMX_HOSTNAME: controller-2
            KAFKA_BROKER_RACK: rack-0
            KAFKA_DEFAULT_REPLICATION_FACTOR: 3
            KAFKA_OFFSET_REPLICATION_FACTOR: 3
            KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
            KAFKA_CONFLUENT_LICENSE_TOPIC_REPLICATION_FACTOR: 3
            KAFKA_CONFLUENT_METADATA_TOPIC_REPLICATION_FACTOR: 3
            KAFKA_CONFLUENT_BALANCER_TOPIC_REPLICATION_FACTOR: 3
            KAFKA_METRIC_REPORTERS: io.confluent.metrics.reporter.ConfluentMetricsReporter
            KAFKA_CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
            KAFKA_CONFLUENT_BALANCER_ENABLE: false
            # KAFKA_GROUP_COORDINATOR_REBALANCE_PROTOCOLS: classic,consumer
            # KAFKA_TRANSACTION_PARTITION_VERIFICATION_ENABLE: false
        cap_add:
            - NET_ADMIN
        ports:
            - "29093:29093"

    controller-3:
        image: confluentinc/cp-server:7.8.1
        hostname: controller-3
        container_name: controller-3
        volumes:
            - data-controller-3:/var/lib/kafka/data
        healthcheck:
            test: kafka-metadata-quorum --bootstrap-controller controller-3:39093 describe --status >/dev/null 2>&1
            interval: 15s
            retries: 3
        environment:
            KAFKA_NODE_ID: 9993
            CLUSTER_ID: Nk018hRAQFytWskYqtQduw
            KAFKA_PROCESS_ROLES: controller
            KAFKA_LISTENERS: CONTROLLER://controller-3:39093
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT
            KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_CONTROLLER_QUORUM_VOTERS: 9991@controller-1:19093,9992@controller-2:29093,9993@controller-3:39093
            KAFKA_JMX_PORT: 9999
            KAFKA_JMX_HOSTNAME: controller-3
            KAFKA_BROKER_RACK: rack-0
            KAFKA_DEFAULT_REPLICATION_FACTOR: 3
            KAFKA_OFFSET_REPLICATION_FACTOR: 3
            KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
            KAFKA_CONFLUENT_LICENSE_TOPIC_REPLICATION_FACTOR: 3
            KAFKA_CONFLUENT_METADATA_TOPIC_REPLICATION_FACTOR: 3
            KAFKA_CONFLUENT_BALANCER_TOPIC_REPLICATION_FACTOR: 3
            KAFKA_METRIC_REPORTERS: io.confluent.metrics.reporter.ConfluentMetricsReporter
            KAFKA_CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
            KAFKA_CONFLUENT_BALANCER_ENABLE: false
            # KAFKA_GROUP_COORDINATOR_REBALANCE_PROTOCOLS: classic,consumer
            # KAFKA_TRANSACTION_PARTITION_VERIFICATION_ENABLE: false
        cap_add:
            - NET_ADMIN
        ports:
            - "39093:39093"

    kafka-1:
        image: confluentinc/cp-server:7.8.1
        hostname: kafka-1
        container_name: kafka-1
        volumes:
            - data-kafka-1:/var/lib/kafka/data
        healthcheck:
            test: nc -z kafka-1 9092
            interval: 15s
            retries: 3
        depends_on:
            controller-1:
                condition: service_healthy
            controller-2:
                condition: service_healthy
            controller-3:
                condition: service_healthy
        environment:
            KAFKA_LISTENERS: DOCKER://kafka-1:9092, EXTERNAL://kafka-1:19092
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT,EXTERNAL:PLAINTEXT
            KAFKA_ADVERTISED_LISTENERS: DOCKER://kafka-1:9092, EXTERNAL://kafka-1:19092
            KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER
            KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
            KAFKA_JMX_PORT: 10001
            KAFKA_JMX_HOSTNAME: localhost
            KAFKA_BROKER_RACK: rack-0
            KAFKA_METRIC_REPORTERS: io.confluent.metrics.reporter.ConfluentMetricsReporter
            KAFKA_NODE_ID: 1
            CLUSTER_ID: Nk018hRAQFytWskYqtQduw
            KAFKA_CONTROLLER_QUORUM_VOTERS: 9991@controller-1:19093,9992@controller-2:29093,9993@controller-3:39093
            KAFKA_PROCESS_ROLES: broker
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
            KAFKA_CONFLUENT_BALANCER_ENABLE: false
            # KAFKA_GROUP_COORDINATOR_REBALANCE_PROTOCOLS: classic,consumer
            # KAFKA_TRANSACTION_PARTITION_VERIFICATION_ENABLE: false
        cap_add:
            - NET_ADMIN
        ports:
            - "19092:19092"
            - "10001:10001"

    kafka-2:
        image: confluentinc/cp-server:7.8.1
        hostname: kafka-2
        container_name: kafka-2
        volumes:
            - data-kafka-2:/var/lib/kafka/data
        healthcheck:
            test: nc -z kafka-2 9092
            interval: 15s
            retries: 3
        depends_on:
            controller-1:
                condition: service_healthy
            controller-2:
                condition: service_healthy
            controller-3:
                condition: service_healthy
        environment:
            KAFKA_LISTENERS: DOCKER://kafka-2:9092, EXTERNAL://kafka-2:29092
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT,EXTERNAL:PLAINTEXT
            KAFKA_ADVERTISED_LISTENERS: DOCKER://kafka-2:9092, EXTERNAL://kafka-2:29092
            KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER
            KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
            KAFKA_JMX_PORT: 10002
            KAFKA_JMX_HOSTNAME: localhost
            KAFKA_BROKER_RACK: rack-0
            KAFKA_METRIC_REPORTERS: io.confluent.metrics.reporter.ConfluentMetricsReporter
            KAFKA_NODE_ID: 2
            CLUSTER_ID: Nk018hRAQFytWskYqtQduw
            KAFKA_CONTROLLER_QUORUM_VOTERS: 9991@controller-1:19093,9992@controller-2:29093,9993@controller-3:39093
            KAFKA_PROCESS_ROLES: broker
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
            KAFKA_CONFLUENT_BALANCER_ENABLE: false
            # KAFKA_GROUP_COORDINATOR_REBALANCE_PROTOCOLS: classic,consumer
            # KAFKA_TRANSACTION_PARTITION_VERIFICATION_ENABLE: false
        cap_add:
            - NET_ADMIN
        ports:
            - "29092:29092"
            - "10002:10002"

    kafka-3:
        image: confluentinc/cp-server:7.8.1
        hostname: kafka-3
        container_name: kafka-3
        volumes:
            - data-kafka-3:/var/lib/kafka/data
        healthcheck:
            test: nc -z kafka-3 9092
            interval: 15s
            retries: 3
        depends_on:
            controller-1:
                condition: service_healthy
            controller-2:
                condition: service_healthy
            controller-3:
                condition: service_healthy
        environment:
            KAFKA_LISTENERS: DOCKER://kafka-3:9092, EXTERNAL://kafka-3:39092
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT,EXTERNAL:PLAINTEXT
            KAFKA_ADVERTISED_LISTENERS: DOCKER://kafka-3:9092, EXTERNAL://kafka-3:39092
            KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER
            KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
            KAFKA_JMX_PORT: 10003
            KAFKA_JMX_HOSTNAME: localhost
            KAFKA_BROKER_RACK: rack-0
            KAFKA_METRIC_REPORTERS: io.confluent.metrics.reporter.ConfluentMetricsReporter
            KAFKA_NODE_ID: 3
            CLUSTER_ID: Nk018hRAQFytWskYqtQduw
            KAFKA_CONTROLLER_QUORUM_VOTERS: 9991@controller-1:19093,9992@controller-2:29093,9993@controller-3:39093
            KAFKA_PROCESS_ROLES: broker
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
            KAFKA_CONFLUENT_BALANCER_ENABLE: false
            # KAFKA_GROUP_COORDINATOR_REBALANCE_PROTOCOLS: classic,consumer
            # KAFKA_TRANSACTION_PARTITION_VERIFICATION_ENABLE: false
        cap_add:
            - NET_ADMIN
        ports:
            - "39092:39092"
            - "10003:10003"

    schema-registry:
        image: confluentinc/cp-schema-registry:7.8.1
        hostname: schema-registry
        container_name: schema-registry
        healthcheck:
            test: curl -fail --silent http://schema-registry:8081/subjects --output /dev/null || exit 1
            interval: 30s
            retries: 10
            start_period: 20s
        depends_on:
            kafka-1:
                condition: service_healthy
            kafka-2:
                condition: service_healthy
            kafka-3:
                condition: service_healthy
        environment:
            SCHEMA_REGISTRY_HOST_NAME: schema-registry
            SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
            SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
        ports:
            - "8081:8081"

    kafka-connect:
        image: confluentinc/cp-server-connect:7.8.1
        hostname: kafka-connect
        container_name: kafka-connect
        healthcheck:
            test: curl -fail --silent http://kafka-connect:8083/connectors --output /dev/null || exit 1
            interval: 30s
            retries: 10
            start_period: 20s
        depends_on:
            kafka-1:
                condition: service_healthy
            kafka-2:
                condition: service_healthy
            kafka-3:
                condition: service_healthy
            # schema-registry:
            #     condition: service_healthy
        environment:
            CONNECT_REST_ADVERTISED_PORT: 8083
            CONNECT_REST_PORT: 8083
            CONNECT_LISTENERS: http://0.0.0.0:8083
            CONNECT_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
            CONNECT_REST_ADVERTISED_HOST_NAME: kafka-connect
            CONNECT_GROUP_ID: kafka-connect
            CONNECT_CONFIG_STORAGE_TOPIC: _connect-configs
            CONNECT_OFFSET_STORAGE_TOPIC: _connect-offsets
            CONNECT_STATUS_STORAGE_TOPIC: _connect-status
            CONNECT_KEY_CONVERTER: org.apache.kafka.connect.storage.StringConverter
            CONNECT_VALUE_CONVERTER: io.confluent.connect.avro.AvroConverter
            CONNECT_EXACTLY_ONCE_SOURCE_SUPPORT: enabled
            CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_URL: http://schema-registry:8081
            CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: 3
            CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: 3
            CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: 3
            CONNECT_PLUGIN_PATH: /usr/share/java,/usr/share/confluent-hub-components,/data/connect-plugin-jars,/usr/share/filestream-connectors
        ports:
            - "8083:8083"
        volumes:
            - $PWD/volumes/connect-plugin-jars:/data/connect-plugin-jars
            - ./data:/data

    control-center:
        image: confluentinc/cp-enterprise-control-center:7.8.1
        hostname: control-center
        container_name: control-center
        depends_on:
            kafka-1:
                condition: service_healthy
            kafka-2:
                condition: service_healthy
            kafka-3:
                condition: service_healthy
            # schema-registry:
            #     condition: service_healthy
            # kafka-connect:
            #     condition: service_healthy
        environment:
            CONTROL_CENTER_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
            CONTROL_CENTER_SCHEMA_REGISTRY_URL: http://schema-registry:8081
            CONTROL_CENTER_REPLICATION_FACTOR: 3
            CONTROL_CENTER_CONNECT_CONNECT_CLUSTER: http://kafka-connect:8083
        ports:
            - "9021:9021"

    # tools:
    #     image: cnfltraining/training-tools:7.5
    #     restart: always
    #     hostname: tools
    #     container_name: tools
    #     volumes:
    #         - ${PWD}:/apps
    #     environment:
    #         CLASSPATH: "/usr/share/java/monitoring-interceptors/monitoring-interceptors-7.5.3.jar"
    #     working_dir: /apps
    #     command: /bin/bash
    #     tty: true

volumes:
    data-controller-1:
    data-controller-2:
    data-controller-3:
    data-kafka-1:
    data-kafka-2:
    data-kafka-3:
