name: training-administration-src
lang: unknown
lang_version: unknown
git:
  enable: true
github:
  enable: true
codeowners:
  enable: true
semaphore:
  enable: true
  pipeline_enable: false
  managed_sections:
    - version
    - name
    - agent
    - global_job_config
